.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 background-color:rgba(15, 23, 42, 1);
  /* animation: gradient 5s ease infinite; */
  background-size: 400% 400%;
  /* overflow: hidden; */
  z-index: -1;
}

.radial-gradient {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  filter: blur(50px);
  background: radial-gradient(circle at 50% 50%, rgba(29, 78, 216, 0.15), transparent 80%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
